<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura generada</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css">
    <style>
        body{margin-top:20px;
background:#eee;
}

.invoice {
    padding: 30px;
}

.invoice h2 {
	margin-top: 0px;
	line-height: 0.8em;
}

.invoice .small {
	font-weight: 300;
}

.invoice hr {
	margin-top: 10px;
	border-color: #ddd;
}

.invoice .table tr.line {
	border-bottom: 1px solid #ccc;
}

.invoice .table td {
	border: none;
}

.invoice .identity {
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: 300;
}

.invoice .identity strong {
	font-weight: 600;
}


.grid {
    position: relative;
	width: 100%;
	background: #fff;
	color: #666666;
	border-radius: 2px;
	margin-bottom: 25px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
    </style>
</head>
<body>
    <div class="container">
<div class="row">
    				<!-- BEGIN INVOICE -->
					<div class="col-xs-12">
						<div class="grid invoice">
							<div class="grid-body">
								<div class="invoice-title">
									<div class="row">
										<div class="col-xs-12">
											<!-- <img src="http://vergo-kertas.herokuapp.com/assets/img/logo.png" alt="" height="35"> -->
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-xs-12">
											<h2>Factura<br>
											<span class="small"><%= factura.id %></span></h2>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-xs-6">
										<address>
											<strong>Datos Cliente:</strong><br>
                                            <strong>Nombre: </strong>
											<%= factura.datos.nombre%><br>
                                            <strong>Identificacion: </strong>
											<%= factura.datos.identificacion%><br>
                                            <strong>Telefono: </strong>
											<%= factura.datos.telefono%><br>
											
											
										</address>
									</div>
									
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<h3>DETALLE FACTURA</h3>
										<table class="table table-striped">
											<thead>
												<tr class="line">
													<td><strong>#</strong></td>
													 <td class="text-center"><strong>ARTICULO</strong></td>
                                        <td class="text-center"><strong>CANTIDAD</strong></td>
                                        <td class="text-right"><strong>IVA</strong></td>
                                        <td class="text-right"><strong>VALOR SIN IVA</strong></td>
                                        <td class="text-right"><strong>VALOR IVA</strong></td>
                                        <td class="text-right"><strong>VALOR UNIDAD</strong></td>
												</tr>
											</thead>
											<tbody>
                                               
											  <% for(let i=0;i<Object.keys(factura.datos.articulo).length;i++) { %>
                                                <tr>  

													<td><%= i+1 %></td>
													
													<td class="text-right"><%= factura.datos.articulo[i]%> </td>
													<td class="text-right"><%= factura.datos.cantidad[i]%> </td>
													<td class="text-right"><%= factura.datos.iva[i]%> </td>
													<td class="text-right"><%= factura.datos.valorSinIva[i]%> </td>
													<td class="text-right"><%= factura.datos.valorIva[i]%> </td>
													<td class="text-right"><%= factura.datos.valor[i]%> </td>
													
												 <% } %>	
												<!-- 	<td class="text-center">15</td>
													<td class="text-center">$75</td>
													<td class="text-right">$1,125.00</td>
                                                 -->
												</tr>
												
												<tr>
													<td colspan="5">
													</td><td class="text-right"><strong>Total</strong></td>
													<td class="text-right"><strong><%= factura.datos.total%></strong></td>
												</tr>
											</tbody>
										</table>
									</div>									
								</div>
								<!-- <div class="row">
									<div class="col-md-12 text-right identity">
										<p>Designer identity<br><strong>Jeffrey Williams</strong></p>
									</div>
								</div> -->
							</div>
						</div>
					</div>
					<!-- END INVOICE -->
				</div>
</div>
</body>
</html>